@charset "UTF-8";

/*Registration style*/
#regform{
	border:1px solid black;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width:30%;
}

#regform [input=text]{
	width:50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit]:hover {
	background-color: #45a049;
}
/*Locatin style*/
#reglocation{
	margin-top: 30px;
	border:1px solid black;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width:30%;
}

#reglocation [input=text]{
	width:50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/*Registration match style*/
#regmatch{
	border:1px solid black;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width:30%;
	margin-top:30px;
}

#regmatch [input=text]{
	width:50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit]:hover {
	background-color: #45a049;
}

