<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/admin.css">
<title>Insert title here</title>
</head>
<body>
	<h1>Üdvözöljük kedves Admin!</h1>
	
	<div id="regform">
		<form action = "/regbyadmin" method = "post">
			<label>Adja meg az új felhasználó nevét:</label>
			<input type = "text" name = "username" placeholder="Felhasználónév...">
			<br />
			<label>Adja meg a jogosultságot:</label>
			<input type = "text" name = "role" placeholder="Jogosultság...">
			<br />
			<input type = "submit">
			<p th:text="${success}"></p>
		</form>
	</div>

</body>
</html>