<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/admin.css">
<title>Insert title here</title>
</head>
<body>
	<h1>Üdvözöljük kedves Admin!</h1>
	
	<div id="regform">
		<form action = "/regbyadmin" method = "post">
			<h2>Új felhasználó regisztrálása!</h2>
			<label>Adja meg az új felhasználó nevét:</label>
			<input type = "text" name = "username" placeholder="Felhasználónév...">
			<br />
			<label>Adja meg a jogosultságot:</label>
			<input type = "text" name = "role" placeholder="Jogosultság...">
			<br />
			<input type = "submit">
			<p th:text="${success}"></p>
		</form>
	</div>
	
	<div id="reglocation">
		<form action = "/reglocationbyadmin" method = "post">
			<h2>Helyszín regisztrálása!</h2>
			<label>Adja meg a helyszín címét:</label>
			<input type = "text" name = "locaddress" placeholder="Helyszín...">
			<br />
			<input type = "submit">
			<p th:text=${done}></p>
			<p th:text=${fail}></p>
		</form>
	</div>
	
	<div id="regmatch">
		<form action = "/regmatchbyadmin" method = "post">
			<h2>Mérkőzés regisztrálása!</h2>
			<label>Adja meg a hazai játékos azonosítóját:</label>
			<input type = "text" name = "hplayerid" placeholder="Hazai játékos....">
			<br />
			<label>Adja meg a vendég játékos azonosítóját:</label>
			<input type = "text" name = "aplayerid" placeholder="Vendég játékos...">
			<br />
			<label>Adja meg a mérkőzés helyszín azonosítóját:</label>
			<input type = "text" name = "locationid" placeholder="Helyszín...">
			<br />
			<input type = "submit">
			<p th:text=${success}></p>
			<p th:text=${error}></p>
			<p th:text=${warning}></p>
			<p th:text=${hplayernull}></p>
			<p th:text=${aplayernull}></p>
			<p th:text=${locationisnull}></p>
		</form>
	</div>
	
	<div>
		<select>
			<option></option>
		</select>
	</div>

</body>
</html>