<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  href="/css/login.css" >
<title>Insert title here</title>
</head>
<body id="loginbody">

		<div id="loginheader">
			  <p>Üdvözli a Squash applikáció!</p>
			  <p id= "plogin">Jelentkezzen be!</p>
		</div>

		<div id="loginform">
		  <form action="welcomepage" method="post">
			    <input type="text" name="username" placeholder="Adja meg a felhasználónevét!">
			    <br />
			    <input type="password" name="userpwd" placeholder="Adja meg a jelszavát!">
			    <br />
			    <input id="submitlogin" type="submit">
		  </form>
		  <p th:text=${denied}></p>
		  <p th:text=${error}></p>
		</div>
		<br />
		
		

</body>
</html>