<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  href="/css/login.css" >
<title>Insert title here</title>
</head>
<body id="loginbody">

		<img alt="squash" src="/img/squash.jpg">
		
		
		<div id="loginform">
		<img id="loginicon" alt="login" src="/img/login.png">
		  <form action="welcomepage" method="post">
				<h2>Üdvözli a Squash applikáció!</h2>
				<h3>Jelentkezzen be!</h3>
				<p>Adja meg a felhasználónevét:</p>
			    <input type="text" name="username" placeholder="Felhasználónév..">
			    <br />
			    <p>Adja meg a jelszavát:</p>
			    <input type="password" name="userpwd" placeholder="Jelszó...">
			    <br />
			    <input type="submit">
		  </form>
		  <p th:text=${denied}></p>
		  <p th:text=${error}></p>
		</div>



		
		

</body>
</html>