<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  href="/css/login.css" >
<title>Insert title here</title>
</head>
<body id="loginbody">

		<div id="loginheader">
			  <p>Üdvözli a Squash applikáció!</p>
			  <p>Jelentkezzen be!</p>
		</div>

		<div id="loginform">
		  <form>
			    <input type="text" name="username" placeholder="Adja meg a felhasználónevét!">
			    <br />
			    <input type="password" name="userpwd" placeholder="Adja meg a jelszavát!">
			    <br />
			    <input type="submit">
		  </form>
		</div>

</body>
</html>